@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    color: white;
}

body{
    background-color: black;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
  }

.banner{
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;  
    padding: 80px;
    text-align: center;
    max-width: 1440px;
    border-bottom: 1px solid #33A8DB;
}

div.logo {
    padding: 10px;
    width: 510px;
}

div.logo img{
    background-color: rgba(0,0,0,0.2);
    border-radius: 300px;
    padding: 20px 10px;
}

.banner h1{
    text-transform: uppercase;
    color: #33A8DB;
    font-size: 47px;
    font-weight: 900;
}


.banner-content p {
    width: 513px;
    text-align: justify;
    font-size: 20px;
    color: white;
    padding: 20px;
    
}

.banner-content button{
    padding: 15px 30px;
    color: #00aaff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #00aaff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0); /* Fundo preto com transparência */
    cursor: pointer;
    
}

section#course-content{
    margin: 5% auto;
    max-width: 1440px;
    padding: 100px 0 ;
    text-align: center;

}

section#course-content h2{
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 10px; 
    line-height: 37.57px;
    font-size: 35px;
    margin: 20px;
    font-weight: 800;
}

#course-content p{
    width: 792px;
    margin: 20px auto;
}

div.modules-list .module{
    padding: 15px;
    border: 1px solid #00aaff;
    width: 510px;
    background-color: rgb(37,37,37);
    margin: 30px auto;
    border-radius: 40px;
    box-shadow: inset -2px 6px 4px 0 rgba(0, 0, 0, 0.4);

}

div.modules-list .module span{
    color: #3187b8;
}